
<div class="video">
  <%= video_tag "bg-video.mp4", autoplay: :autoplay,loop: :loop, mute: :mute, class:"video" %>
</div>



<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>THE ROAD TO THE MY DREAMS</h1>
            <hr>
            <p>Self-taught web developer, learn to do all things in four months</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
